.about{
    max-width: 1240px;
    margin: 0 auto;
}
.about img{
    width: 100%;
    height: 225px;
    object-fit: cover;
    border-radius: 25px;
}

.drowps{
    margin: 40px 0;
}
.drowp-about{
    display: flex;
    justify-content: space-between;
    align-items: center;
    color: white;
    width: 80%;
    background-color: #FF6060;
    margin: 20px auto 0;
    height: 50px;
    padding: 0 20px;
    font-weight: 700;
    border-radius: 5px;
}

.info-div {
    background-color: #f4f4f4;
    width: 80%;
    max-height: 0;
    overflow: hidden;
    margin: auto;
}
.text-about{
    padding: 20px;
}


/* tablets */
@media (min-width: 768px) and (max-width: 1024px){
    .about{
        margin: 20px;
    }
}


/* mobils */
@media (min-width: 320px) and (max-width: 767.98px){
    .about{
        margin: 20px;
    }
    .about img{
        height: 110px;
    }
    .drowps{
        margin: 10px 0;
    }
    .drowp-about{
        width: 100%;
    }
    .info-div{
        width: 100%;
    }
}