.presant{
    max-width: 1240px;
    height: 200px;
    margin: 20px auto;
    position: relative;
}
.presant img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
    filter: blur(2px) brightness(0.5);
}
.presant p{
    position: absolute;
    top: 35%;
    left: 20%;
    color: #ffffff;
    font-size: 48px;
    font-weight: 700;
}

.hebergemants{
    background-color: #F6F6F6;
    max-width: 1240px;
    margin: 30px auto;
    padding: 40px;
    display: flex;
    flex-wrap: wrap;
    gap: 40px;
    border-radius: 25px;
}
.hebergemants a{
    width: 340px;
    flex-grow: 1;
    height: 340px;
    position: relative;
}
.hebergemants article{
    height: 100%;
}
.hebergemants img{
    width: 100%;
    height: 100%;
    border-radius: 10px;

}
.hebergemants p{
    position: absolute;
    bottom: 20px;
    left: 20px;
    color: #ffffff;
    width: 60%;
}

@media (min-width: 768px) and (max-width: 1024px){
    .presant{
        margin: 20px;
    }
    .hebergemants{
        border-radius: 0;
        margin: 0;
        flex-wrap: wrap;
    }
    .hebergemants a{
        width: 45%;
        height: 300px
    }
    .presant p{
        top: 25%;
        left: 10%;
    }
}

@media (max-width: 767.98px) {
    .presant{
        height: 100px;
        margin: 0 20px;
    }
    .presant p{
        top: 15%;
        left: 10%;
        font-size: 24px;
        width: 220px;
    }
    .hebergemants{
        background: none;
        margin: 10px auto;
        padding: 20px;
        gap: 20px;
    }
    .hebergemants a{
        height: 240px
    }
}