.non{
    display: none;
}
.carosel, .content{
    max-width: 1240px;
    margin: 20px auto;
    position: relative;
}
.carosel{
    height: 420px;
}
.carosel img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 25px;
}
.arrow-right{
    border: none;
    position: absolute;
    top: 35%;
    right: 20px;
    background: none;
}
.arrow-left{
    border: none;
    position: absolute;
    top: 35%;
    left: 20px;
    background: none;
}
.carosel i{
    font-size: 100px;
    color: #fff;
}
.counter{
    color: #fff;
    position: absolute;
    bottom: 10px;
    right: 50%;
}


.info-content {
    display: flex
;
    justify-content: space-between;
}
.content-title h1{
    margin-bottom: 10px;
}
.content-title h1, .host p{
    color: #FF6060;
}
.tags{
    display: flex;
    gap: 10px;
}
.tag{
    font-size: 14px;
    background-color: #FF6060;
    color: #fff;
    padding: 10px 20px;
    margin: 10px 0;
    border-radius: 25px;
}

.content-tow {
    display: flex
;
    flex-direction: column;
    align-items: center;
}
.host{
    display: flex;
    align-items: center; 
    width: 165px;
    gap: 10px;
}
.host-img{
    border-radius: 50%;
    width: 65px;
    height: 65px;
}
.raiting i{
    font-size: 24px;
    margin: 5px;
    color: #E3E3E3;
}


.content-three{
    display: flex;
    justify-content: space-between;
}
 .drops-div{
    width: 45%;
    position: relative;
}
.description, .equipements{
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 50px;
    padding: 0 10px;
    border-radius: 5px;
    background-color: #FF6060;
    color: #fff;
}
.drop{
    background: none;
    border: none;
    color: #fff;
    font-size: 20px;
    padding: 0 10px 0 0;
    cursor: pointer;
}
.ani{
    background-color: #E3E3E3;
    border-radius: 5px;
    overflow: hidden;
}
.show{
    animation: ouvr 5s linear 0s 1 normal forwards;
}
.text-description{
    padding: 20px;
}
.text-equipments{
    padding: 10px;
}
@keyframes ouvr {
    0%{
        max-height:0;
    }
    100%{
        max-height: 1000px ;
    }
}
.no-show{
    overflow: hidden;
    max-height: 0;
}
.down{
    animation: down 0.5s linear forwards;
}

@keyframes down {
    0%{
        transform: rotate(0);
    }
    100%{
        transform: rotate(-180deg);
    }
}

/* tablets */
@media (min-width: 768px) and (max-width: 1024px){
    .carosel{
        height: 360px;
        margin: 0 20px;
    }
    .carosel i {
        font-size: 60px;
    }
    .arrow-right, .arrow-left{
        top: 40%;
    }
    .raiting i{
        font-size: 20px;
    }
    .info-content, .content-three{
        margin: 20px;
    }
    .drops-div{
        width: 48%;
    }
}
/* mobils */
@media (min-width: 320px) and (max-width: 767.98px){
    .carosel{
        height: 250px;
        margin: 0 20px;
    }
    .carosel i{
        font-size: 40px;
    }
    .arrow-right, .arrow-left{
        top: 40%;
    }
    .counter{
        right: 45%;
    }

    .info-content, .content-three{
        flex-direction: column;
    }
    .content-one{
        margin: 0 20px;
    }
    .tag{
        font-size: 10px;
    }

    .content-tow {
        flex-direction: row-reverse;
        justify-content: space-between;
        margin: 0 20px 20px 20px;
    }
    .host{
        gap: 0;
        justify-content: space-between;
        width: 125px;
    }
    .host-img{
        height: 32px;
        width: 32px;
    }
    .raiting i{
        font-size: 16px;
    }

    .content-three{
        margin: 0 20px;
        gap: 10px;
    }
    .drops-div{
        width: 100%;
    }
}